@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    <!--bu style yazının alt cizgisini ve üstüne gelince renk degismesini saglıyor-->
    @Styles.Render("~/styles");
    <style>
        a {
            color :#b200ff;
            text-decoration:none;
        }
        a:hover {
            color:#000000;
        }
    </style>
</head>
<body>
    <header>
        <h1>
        <a href="@Url.RouteUrl("Home")">Simple Blog</a>
            <i class="glyphicon glyphicon-alert"></i>
        </h1>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back @User.Identity.Name</p>
            <a href="@Url.RouteUrl("Logout")">Logout</a>
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index","Posts",new {area="admin" })">Views Posts in Admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }
        
    </header>
    
    @RenderBody()
    <!-- footer i en alta yaz renderin altına ki en altta çıksın üstüne yazarsan görüntü çirkin oluyor.-->
    <footer>
        &copy; @DateTime.Now.Year 
    </footer>
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts",false)
</body>
</html>
